* {
    font-family: 'Manrope', sans-serif !important;
}

.jumbotron {
    background: url(../images/jumbotron_bg.jpg);
    background-size: cover;
    background-position-y: center;
    text-shadow: 0 0 10px #FFFFFF, 2px 2px 4px rgba(248,255,0,0);
}

.content-bar {
    min-height: calc(100vh - 482px);
    box-sizing: border-box;
}

.main-section {
    min-height: calc(100vh - 112px);
    background: url(../images/login-bg.jpg);
    background-position-y: center;
    background-size: cover
}

.registration-section {
    min-height: calc(100vh - 112px);
    background: url(../images/register-bg.jpg);
    background-position-y: center;
    background-size: cover
}

.login-form {
    height:400px;
    width:350px;
    -webkit-box-shadow: 5px 5px 15px 5px #c0ceb7; 
    box-shadow: 5px 5px 15px 5px #c0ceb7;
}

.helptext {
    display: none;
}

.profile-img {
    width: 150px;
}