{% extends 'greeter/base.html' %}

{% block content %}

<section class="main-section d-flex justify-content-center align-items-center text-light">
    <form method="POST" action="{% url 'users:login_view' %}" class="login-form bg-dark rounded-lg d-flex flex-column justify-content-center p-4">
        {% if error %}
            <p class="text-center p-2 bg-danger rounded-lg">{{error}}</p>
        {% endif %}
        <h3 class="mb-3 text-center">Login here!</h3>
        {% csrf_token %}
        {{login_form}}
        <button id="btn_login" type="submit" class="btn btn-secondary mb-3">Login</button>
        <p>Don't have an account? <a href="{% url 'users:register_view' %}">Register here</a></p>
    </form>
</section>

{% endblock %}