{% extends 'greeter/base.html' %}

{% block content %}

<section class="main-section d-flex justify-content-center align-items-center text-light">
    <div class="login-form bg-dark rounded-lg d-flex flex-column align-items-center justify-content-center p-4">
        <p>Profile for user: {{profile.user.username}}</p>
        <img class="profile-img" src="{{profile.profile_picture_url}}">
        <h3 class="mt-3">{{profile.full_name}}</h3>
        <p class="text-center">{{profile.description}}</p>
    </div>
</section>

{% endblock %}