{% extends 'greeter/base.html' %}

{% block content %}
<div class="jumbotron rounded-0 text-light mb-0">
    <div class="container">
        <h1 class="display-4">Selamat Datang, {{username}}.</h1>
        <p class="lead">Apa yang anda ingin lakukan hari ini?
            {% if request.user.is_authenticated %}
            See your profile <a href="{% url 'users:profile_view' request.user.username %}">here</a>
            {% endif %}
        </p>
        <hr class="my-4">
        <p>Authentication and Users in Django.</p>
        <a class="btn btn-dark btn-lg" style href="#" role="button">Hello :)))</a>
    </div>
  </div>

  <section class="bottom-main bg-secondary content-bar text-light">
        <div class="container">
            {% if request.user.is_authenticated %}
            <h3 class="pt-4">Bukan {{username}}? <a href="{% url 'users:logout_view' %}">Logout</a></h3>
            <p>How did you get here?</p>
            {% else %}
            <h3 class="pt-4">You are not logged in, <a href="{% url 'users:login_view' %}">Login</a> now so we can greet you properly :)</h3>
            <p>OwO UwU</p>
            {% endif %}
        </div>
  </section>

{% endblock %}